body {
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.bg img{
    width: 100%;
}
.mar {
    background-color: #FFE8DF;
}

.header {
    width: 100%;
}

.main {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #7d8498;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100px;
    position: fixed;

}

.main div {
    width: 25%;
}

.logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.logo img {
     width: 250px;


}

.search {
    /* background-color: aqua; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}

.search input {
    width: 80%;
    height: 30px;
    border-radius: 12px;
    border: 2px solid grey;
    padding: 5px;

}

.search .sicon {
    position: relative;
    right: 30px;
}

::placeholder {
    color: grey;
    font-size: 15px;
    padding-right: 30px;
}

.navbar {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */




}

.navbar ul {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */
    width:100%;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    padding-right: 10px;
    text-transform: uppercase;
}

li:hover {
    color: blueviolet;
    transition-duration: 0.5s;
}

.icon {
    flex: 1;

}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons img {
    width: 20px;
    




}

@media (max-width:1025px) {
    /* .navbar {
        display: none;
    } */

    .search {
        display: none;
    }

    .navbar .bar {
        display: none;
    }

    .icons {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .logo {
        flex: 1;
    }
}

@media (min-width:1140px) {
    .navbar .bar {
        display: none; 
    }
}
@media (max-width:769px)
{
    .main{
        position: static;
    }
    body{
        margin:0;
    }
    .mar{
        width: 100%;
    }
    .navbar .bar {
        display:flex;
          position: relative;
          justify-content: flex-start;
          align-items: center;

       
        
    }
    .navbar ul{
        display: none;
      
        
    }
    .navbar{
        flex:1;
    }
    .logo{
       flex: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
        
        
    }
    .logo img{
        width:200px;


    }
    .search {
         display: flex;
    justify-content: center;
    align-items: center;
        flex:1;
    }
    .search input{
        display: none;
    }
    .sicon{    
    display: flex;
    justify-content: center;
/* 
    right: 30px; */
    }
    .icons{
        /* background-color: aqua; */
        display: flex;
        flex:1;
        /* justify-content: space-evenly; */
    }
}
@media (max-width:426px){
     .main{
        position: static;
    }
    .search{
        display: none;
    }
    
}
@media (max-width:376px){
    .icons{
        display:none;
    }
    .logo{
        flex:2;
    }
    .logo img{
        width:250px;
        
    }
    .navbar{
        flex:1;
    }
}
@media (max-width:321px)

{
     .main{
        position: static;
    }
    .logo{
        flex:2;
    }
    .logo img{
        width:200px;
    }
    .navbar{
        flex:1;
    }
   
}